/* for small devices  */
@media screen and (max-width:576px) {

    /* some shared styles  */
    .color2 {
        font-size: 2rem;
    }

    /* header section starts here  */
    header nav img,
    header nav ul {
        display: none;
    }

    .hero-section .hero-content h1 {
        font-size: 2.5rem;
        margin-bottom: 14px;
    }

    .hero-section .hero-content h5 {
        font-size: .75rem;
        margin-bottom: 22px;
    }

    .hero-section .hero-content .input-area {
        gap: 10px;
    }

    .hero-section .hero-content input[type="text"] {
        height: 50px;
    }

    .hero-section .hero-content .btn-primary {
        height: 50px;
        padding: 0 20px;
    }

    /* practice section starts here  */
    .practice .law-types {
        grid-template-columns: repeat(1, 1fr);
    }

    /* review section starts here  */
    .review .banner .content p {
        font-size: .75rem;
    }
}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header section starts here  */
    header nav ul {
        display: none;
    }

    .hero-section .hero-content h1 {
        font-size: 3rem;
    }

    /* practice section starts here  */
    .practice .law-types {
        grid-template-columns: repeat(2, 1fr);
    }

}